<h1>Edit Profile</h1>
<h3>You must have a username and profile pic to roast somebody.(note: make sure to validate this somewhere)</h3>
<%= image_tag @profile.profilepic.url(:medium) %></br>

<%= form_for @profile, :url => profile_path,
:html => { :multipart => true } do |f| %>
 <%= f.file_field :profilepic %><br>
 <%= f.label :username, @profile.username %>
 <%= f.text_field :username %><br>
 <%= f.submit :update %>
<% end %>