<div class="container">
  <nav id="navBar">
    <%= link_to("Edit Profile", edit_profile_path(@profile.id), method: :get, class: "rightLink") %>
    <%= link_to("Back to the Roast", root_path, method: :get, class: "leftLink") %>
  </nav>


  <div id="topProfileContainer"></div>
  <div id="bottomProfileContainer"></div>

  <div id="profileBox">
    <h1><%= @profile.username %></h1>
      <%= image_tag @profile.profilepic.url(:medium) %>

      <h3>Description</h3>
      <p><%= @profile.description %></p>

      <h3>Record</h3>
      <p>
        Win: <%= @profile.wins %>
        Loss: <%= @profile.loss %>
        Tie: <%= @profile.ties %>
        Knockout:  <%= @profile.ko %>
      </p>
  </div>

</div>