<h1>Profile Page</h1>

<%= image_tag @profile.profilepic.url(:medium) %></br>

Username: <%= @profile.username %></br>
Total Wins:<%= @profile.wins %></br>
Total Losses:<%= @profile.loss %></br>
Total Knockouts: <%= @profile.ko %></br>

<%= link_to("Edit Profile", edit_profile_path(@profile.id), method: :get) %><br>
<%= link_to("Back to the Roast", root_path, method: :get) %>