<div class="container">
  <div id="topProfileContainer">
    <h2><span class="login strongburn">Sign Up</span></h2>

  </div>
  <div id="bottomProfileContainer"></div>

</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></br>

    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></br>

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <div class="actions">
      <%= f.submit "Sign up", id: "loginButton" %>
    </div>
  </div>

<% end %>

<%= render "devise/shared/links" %>
