<div id="container">

  <div id="vsBanner">
    <div class="innerVsBox" id="leftUsernameBox">
      <% if @arena.count == 1 || @arena.count == 2 %>
        <%= @arena.first.user.profile.username %>
      <% end %>
    </div>
    <div class="innerVsBox" id="vsButton"><span id="vs">VS<span></div>
    <div class="innerVsBox" id="rightUsernameBox">
      <% if @arena.count == 2 %>
        <%= @arena.last.user.profile.username %>
      <% end %>
    </div>
  </div>


  <div id="leftProfileBox">
    <% if @arena.count == 1 %>
      <% firstArenaMember = @arena.first %>
        <div id="leftProfilePic" style="background-image: url('<%= firstArenaMember.user.profile.profilepic.url(:medium) %>')">
        </div>
      <%= firstArenaMember.user.profile.wins %>
      <%= firstArenaMember.user.profile.loss %>
      <%= firstArenaMember.user.profile.ties %>
    <% end %>

    <% if @arena.count == 2 %>
      <% firstArenaMember = @arena.first %>
        <div id="leftProfilePic" style="background-image: url('<%= firstArenaMember.user.profile.profilepic.url(:medium) %>')">
        </div>
      <%= firstArenaMember.user.profile.wins %>
      <%= firstArenaMember.user.profile.loss %>
      <%= firstArenaMember.user.profile.ties %>
        <div id="voteTotalLeft">zero</div>
      <% if !user_signed_in? && @arena.count == 2 || @arena.count == 2 && !@arena.where(user_id: current_user.id).exists?%>
        <%= form_tag(vote_left_path, method: :post, remote: true, class: "voteForm") do %>
          <%= submit_tag("Vote") %>
        <% end %>
      <% end %>
  </div>

  <div id="rightProfileBox">
        <% secondArenaMember = @arena.last %>
          <div id="rightProfilePic" style="background-image: url('<%= secondArenaMember.user.profile.profilepic.url(:medium) %>')">
          </div>
        <%= secondArenaMember.user.profile.wins %>
        <%= secondArenaMember.user.profile.loss %>
        <%= secondArenaMember.user.profile.ties %>
        <div id="voteTotalRight">zero</div>

        <% if !user_signed_in? && @arena.count == 2 || @arena.count == 2 && !@arena.where(user_id: current_user.id).exists?%>
          <%= form_tag(vote_right_path, method: :post, remote: true, class: "voteForm") do %>
            <%= submit_tag("Vote") %>
          <% end %>
        <% end %>

    <% end %>
  </div>

  <div id="commentsContainer">
    <% if user_signed_in? && @arena.count == 2 && @arena.where(user_id: current_user.id).exists? %>
      <div class='commentBox'>
        <%= form_tag(comments_path, method: :post, remote: true, class: "roastForm") do %>
          <%= label_tag(:content, "Destroy your opponent here:") %>
          <%= text_field_tag(:content) %>
          <%= submit_tag("Submit!") %>
        <% end %>
      </div>
    <% end %>
    <table id="roastCommentsBox"></table>
  </div>


          <div id="timer"></div>





    <% if user_signed_in? && @arena.count < 2 && !@arena.where(user_id: current_user.id).exists? %>
        <%= link_to 'Join the Arena', join_arena_path, method: :get, remote: true, class: "joinLink" %>
    <% end %>
  </div>