<div class="container">
  <nav id="navBar">
    <% if user_signed_in? %>
      <%= link_to("Profile", profile_path(current_user.profile.id), method: :get, id: "profileLink", class: "leftLink mediumburn") %>
      <%= link_to("Sign Out", destroy_user_session_path, method: :delete, id: "signOutLink", class: "rightLink mediumburn") %>
    <% else %>
      <%= link_to("Sign In", user_session_path, method: :get, class: "leftLink mediumburn") %>
      <%= link_to("Sign Up", new_user_registration_path, method: :get, class: "rightLink mediumburn") %>
    <% end %>
  </nav>


  <% if @arena.count >= 1  %>
    <div id="vsButton">
      <span id="vs">VS<span>
    </div>
    <div id="line"></div>
  <% end %>


  <div id="timer"></div>

  <div id="leftContainer">

        <% if @arena.count == 0 %>
            <% if user_signed_in? && @arena.count < 2 && !@arena.where(user_id: current_user.id).exists? %>
              <div id="leftUsernameBox">
                <%= link_to 'Join the Arena', join_arena_path, method: :get, remote: true, class: "joinLink strongburn" %>
              </div>

              <div id="quotes">
                <p>
                  "No longer from head to foot than from hip to hip, she is spherical, like a globe. I could find out countries in her!" </br>
                  -William Shakespeare</br>

                </p>
              </div>
            <% end %>
          <% if !user_signed_in? %>
            <div id="logoBox">
              <span class="logo strongburn">Roast Battle!</span>
              <span id="waitingUnderLogo">Please wait for next battle <span id="blink">....</span></span>
            </div>
          <% end %>
        <% end %>

        <% if @arena.count == 1 %>
          <% firstArenaMember = @arena.first %>

            <div id="leftUsernameBox">
              <%= @arena.first.user.profile.username %>
            </div>

            <div class="profilePic" id="leftProfilePic" style="background-image: url('<%= firstArenaMember.user.profile.profilepic.url(:medium) %>')">
            </div>

            <div id="leftRecordBox">
              <p>
                Win: <%= firstArenaMember.user.profile.wins %>
                Loss: <%= firstArenaMember.user.profile.loss %>
                Ties: <%= firstArenaMember.user.profile.ties %>
                KO's: <%= firstArenaMember.user.profile.ko %>
              </p>
            </div>

            <div id="leftDescriptionBox">
              <p><%= firstArenaMember.user.profile.description %></p>
            </div>

            <div id="leftVoteBox">
              <div id="voteTotalLeft">
                0%
              </div>
            </div>

        <% end %>

        <% if @arena.count == 2 %>
          <% firstArenaMember = @arena.first %>
            <div id="leftUsernameBox">
              <%= @arena.first.user.profile.username %>
            </div>

            <div class="profilePic" id="leftProfilePic" style="background-image: url('<%= firstArenaMember.user.profile.profilepic.url(:medium) %>')">
            </div>

            <div id="leftRecordBox">
              <p>
                Win: <%= firstArenaMember.user.profile.wins %>
                Loss: <%= firstArenaMember.user.profile.loss %>
                Ties: <%= firstArenaMember.user.profile.ties %>
                KO's: <%= firstArenaMember.user.profile.ko %>
              </p>
            </div>

            <div id="leftDescriptionBox">
              <%= firstArenaMember.user.profile.description %>
            </div>

            <div id="leftVoteBox">
              <div id="voteTotalLeft">
                0%
              </div>
                <% if !user_signed_in? && @arena.count == 2 || user_signed_in? && @arena.count == 2 && !@arena.where(user_id: current_user.id).exists?%>
                    <%= form_tag(vote_left_path, method: :post, remote: true, class: "voteFormLeft") do %>
                      <%= submit_tag("Vote", id: "leftVoteButton") %>
                    <% end %>
                <% end %>
            </div>
        <% end %>

    </div> <!-- end of "leftContainer"-->

  <div class="rightContainer">
      <div id="rightUsernameBox">
        <% if @arena.count == 1 %>
            <% if user_signed_in? && @arena.count < 2 && !@arena.where(user_id: current_user.id).exists? %>
              <%= link_to 'Join the Arena', join_arena_path, method: :get, remote: true, class: "joinLink strongburn" %>
            <% else %>
              <span class="waiting">Waiting...</span>
            <% end %>
        <% elsif @arena.count == 2 %>
            <%= @arena.last.user.profile.username %>
        <% end %>
      </div>

      <% if @arena.count == 0 || @arena.count == 1 %>
        <div id="guidelines">
          <p>
            <span> Rules/Guidelines</span></br>
            1. You must have a profile pic and a username to join the arena.</br>
            2. Anyone not in the arena is able to vote on the current battle.</br>
            3. Whoever has the most votes at the end of 90 seconds wins.</br>
            4. When the timer hits 60, 30, and 15 seconds, if a user has at least 90% of the votes he/she will win by knockout.</br>
            5. Prepare your worst.
          </p>
        </div>
      <% end %>

      <% if @arena.count == 2 %>
        <% secondArenaMember = @arena.last %>
        <div class="profilePic" id="rightProfilePic" style="background-image: url('<%= secondArenaMember.user.profile.profilepic.url(:medium) %>')">
        </div>

        <div id="rightRecordBox">
          <p>
            Win: <%= secondArenaMember.user.profile.wins %>
            Loss: <%= secondArenaMember.user.profile.loss %>
            Ties: <%= secondArenaMember.user.profile.ties %>
            KO's: <%= secondArenaMember.user.profile.ko %>
          </p>
        </div>

        <div id="rightDescriptionBox">
          <%= secondArenaMember.user.profile.description %>
        </div>

        <div id="rightVoteBox">
          <div id="voteTotalRight">
            0%
          </div>
            <% if !user_signed_in? && @arena.count == 2 || user_signed_in? && @arena.count == 2 && !@arena.where(user_id: current_user.id).exists?%>
                  <%= form_tag(vote_right_path, method: :post, remote: true, class: "voteFormRight") do %>
                    <%= submit_tag("Vote", id: "rightVoteButton") %>
                  <% end %>
            <% end %>
        </div>
      <% end %>

  </div> <!-- closing right container -->


  <div class="commentsContainer displayToggle">

        <% if user_signed_in? && @arena.count == 2 && @arena.where(user_id: current_user.id).exists? %>
            <% if current_user.id == @arena.first.user_id %>
              <div class="commentBox">
                <%= form_tag(comments_path, method: :post, remote: true, class: "roastFormLeft") do %>
                  <%= label_tag(:content, "Roast:") %>
                  <%= text_field_tag(:content) %>
                  <%= submit_tag("Submit!", id: "submit") %>
                <% end %>
              </div>
            <% else %>
              <div class="commentBox">
                <%= form_tag(comments_path, method: :post, remote: true, class: "roastFormRight") do %>
                  <%= label_tag(:content, "Roast:") %>
                  <%= text_field_tag(:content) %>
                  <%= submit_tag("Submit!", id: "submit") %>
                <% end %>
              </div>
            <% end %>
        <% end %>

    <table id="roastCommentsTable"></table>

  </div> <!-- closing comments container -->

</div> <!-- closing container -->