<!DOCTYPE html>
<html>
<head>
  <title>RoastApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', "http://localhost:9292/faye.js", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="navBar">
    <ul>
    <% if user_signed_in? %>
      <li><%= link_to("Profile", profile_path(current_user.profile.id), method: :get) %></li>
      <li><%= link_to("Sign Out", destroy_user_session_path, method: :delete) %></li>
    <% else %>
      <li><%= link_to("Get me back in the game. Sign In.", user_session_path, method: :get) %></li>
      <li><%= link_to("Sign Up to roast somebody", new_user_registration_path, method: :get) %></li>
    <% end %>
  </ul>
  </nav>

<p class="notice"><%= flash[:notice] %></p>
<p class="alert"><%= flash[:alert] %></p>

<%= yield %>

</body>
</html>
